<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>maven-mvc</display-name>
    <servlet>
        <servlet-name>ServletBuscarHoroscopo</servlet-name>
        <servlet-class>ma.proyecto1.controller.ServletBuscarHoroscopo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPagarNomina</servlet-name>
        <servlet-class>ma.proyecto1.controller.ServletPagarNomina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarNomina</servlet-name>
        <servlet-class>ma.proyecto1.controller.ServletBorrarNomina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarUsuario</servlet-name>
        <servlet-class>ma.proyecto1.controller.ServletGuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarUsuario_1</servlet-name>
        <servlet-class>ma.proyecto1.controller.ServletGuardarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBuscarHoroscopo</servlet-name>
        <url-pattern>/horoscopo.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPagarNomina</servlet-name>
        <url-pattern>/nomina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarNomina</servlet-name>
        <url-pattern>/ServletBorrarNomina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarUsuario</servlet-name>
        <url-pattern>/ServletGuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarUsuario_1</servlet-name>
        <url-pattern>/ServletGuardarUsuario_1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
